@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rock+Salt&display=swap');

/* Variables for colors */
:root {
  --primary-color: #ff6347;
  --secondary-color: #5970cb;
  --background-color: #f5f5f5;
  --text-color: #2e2e2e;
  --header-background-color: #ffffff;
  --highlight-color: #ff6347;
}

/* Base styles */
body {
  font-family: 'Roboto', Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: var(--text-color);
  scroll-behavior: smooth;
  background-color: var(--background-color);
}

header {
  background-color: var(--header-background-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 8px 16px;
  box-sizing: border-box;
  text-align: center; /* Center all header content */
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}

.logo a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-logo {
  max-width: 40px;
  margin-right: 10px;
}

.nav-logo-text {
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.3em;
  transition: color 0.3s;
}

.nav-logo-text:hover {
  color: var(--highlight-color);
}

.nav-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
}

.nav-menu li {
  margin: 0 16px;
}

.nav-menu li a {
  text-decoration: none;
  color: var(--text-color);
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

.nav-menu li a:hover {
  color: var(--highlight-color);
}

.nav-icon {
  width: 32px;
  height: 32px;
  margin-top: 4px;
  transition: transform 0.2s;
}

.nav-icon:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    width: 100%;
    background-color: var(--header-background-color);
    position: absolute;
    top: 60px;
    left: 0;
    padding: 16px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: none; /* Hide the menu by default */
  }

  .nav-menu.active {
    display: flex; /* Show the menu when active */
  }

  .nav-menu li {
    margin: 8px 0;
    text-align: center;
    padding: 8px 0;
  }

  .nav-icon {
    width: 28px;
    height: 28px;
  }

  .menu-toggle {
    display: block;
    cursor: pointer;
  }
}

@media (max-width: 480px) {
  .nav-icon {
    width: 24px;
    height: 24px;
  }
}

/* Hero Section */
.hero-section {
  text-align: center;
  padding: 80px 16px;
  color: var(--text-color);
  background-size: cover;
}

.hero-content {
  max-width: 600px;
  margin: 0 auto;
}

.hero-section h1 {
  font-size: 3.25em;
  margin-bottom: 10px;
  font-family: 'Rock Salt', cursive;
}

.hero-section p {
  font-size: 1.75em;
  margin-bottom: 32px;
}

/* Button Styles */
.button,
.email-button {
  display: inline-block;
  padding: 12px 24px;
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  cursor: pointer;
  width: auto;
  margin-top: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.button {
  background-color: var(--primary-color);
}

.button:hover {
  background-color: var(--primary-color);
  filter: brightness(90%);
  transform: scale(1.05);
}

.email-button {
  background-color: var(--secondary-color);
}

.email-button:hover {
  background-color: var(--secondary-color);
  filter: brightness(90%);
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .button,
  .email-button {
    width: 100%;
    box-sizing: border-box;
  }
}

.about-section,
.contact-section,
.donate-section,
.dogs-section {
  text-align: center;
  padding: 140px 16px;
  background: var(--header-background-color);
}

.mission-vision-section,
.vision-section,
.mission-section {
  text-align: center;
  padding: 140px 16px;
  background: var(--background-color);
  color: var(--text-color);
  font-family: 'Roboto', Arial, sans-serif;
  background-size: cover;
}

.contact-section {
  background-size: contain;
}

.donate-section {
  background: url('../images/backgrounds/donate-background.png') no-repeat center bottom;
  background-size: cover;
  padding-bottom: 320px;
}

.about-section {
  background: url('../images/backgrounds/about-background.png') no-repeat center bottom;
  background-size: cover;
  padding-bottom: 320px;
}

.dog-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 32px;
  margin-top: -140px;
}

.dog-card {
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.dog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dog-card img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 16px;
}

@media (min-width: 769px) {
  .dog-card img {
    max-width: 100%;
  }
}

.dog-card h2 {
  font-family: 'Rock Salt', cursive;
  font-size: 2em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.dog-description {
  font-size: 1.2em;
  color: var(--text-color);
  text-align: left;
  list-style-type: disc;
  padding-left: 20px;
}

.dog-summary {
  font-size: 1.2em;
  color: var(--text-color);
  text-align: left;
  padding-left: 20px;
  list-style-type: disc;
  margin-top: 20px;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 20px;
}

.contact-info p {
  margin: 0.5em 0;
}

.contact-info a {
  color: var(--secondary-color);
  text-decoration: none;
}

.contact-info a:hover {
  text-decoration: underline;
}

.section-content {
  padding: 40px;
  display: inline-block;
}

.section-content h2 {
  font-size: 2.6em;
  margin-bottom: 24px;
  color: var(--text-color);
  font-family: 'Rock Salt', cursive;
}

.section-content h3 {
  font-size: 1.2em;
  margin-bottom: 12px;
  color: var(--text-color);
  font-family: 'Rock Salt', cursive;
}

footer {
  background-color: var(--header-background-color);
  padding: 32px;
  text-align: center;
  color: var(--text-color);
  position: relative;
}

.ribbon {
  background: url('../images/backgrounds/ribbon-1.png') no-repeat center bottom;
  background-size: cover;
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media (max-width: 768px) {
  .hero-section h1 {
    font-size: 2.5em;
  }

  .hero-section p {
    font-size: 1.25em;
  }

  .button {
    width: 100%;
    box-sizing: border-box;
  }

  .dog-images {
    flex-direction: column;
    align-items: center;
  }

  .dog-card:nth-child(odd),
  .dog-card:nth-child(even) {
    top: 0;
  }

  .nav-logo {
    max-height: 40px;
  }

  .ribbon {
    height: 100px;
  }
}

/* Video Section */
.video-section {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.video-container {
  position: relative;
  overflow: hidden;
  padding-top: 125%; /* 4:3 Aspect Ratio */
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
